<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>

<head>
	<!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
	<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *"> -->
	<meta http-equiv="Content-Security-Policy" content="default-src *; style-src 'self' http://* 'unsafe-inline'; script-src 'self' http://* 'unsafe-inline' 'unsafe-eval'"
	/>
	<meta name="viewport" content="initial-scale=1, width=device-width, height=device-height, viewport-fit=cover">

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="format-detection" content="telephone=no">
	<meta name="msapplication-tap-highlight" content="no">
	<!-- <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width"> -->
	<!--     <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap-theme.min.css"> -->
	<link rel="stylesheet" type="text/css" href="css/index.css" />
	<link rel="stylesheet/less" type="text/css" href="css/index.less" />
	<title>Ladivaar App</title>
</head>

<body>
	<div>
		<!-- <div id="splashScreen">
			<div id="splashScreenImage"></div>
		</div> -->
		<header>
			<div class="iOS_navigation">
				<svg width="30" height="40" xmlns="http://www.w3.org/2000/svg">
					<g transform="scale(0.07)">
						<polygon fill="#ff8c00" id="svg_1" points="352,128.4 319.7,96 160,256 160,256 160,256 319.7,416 352,383.6 224.7,256 " />
					</g>
				</svg>
			</div>
			<div class="title">
				ਲੜੀਵਾਰ
			</div>
			<div class="hamburger_icon menu_control">
				<svg class="menu_control" width="32" height="32" xmlns="http://www.w3.org/2000/svg">
					<g>
						<circle class="menu_control" fill="#ff8c00" id="svg_1" r="3" cy="14" cx="12" />
						<circle class="menu_control" fill="#ff8c00" id="svg_2" r="3" cy="7" cx="12" />
						<circle class="menu_control" fill="#ff8c00" id="svg_3" r="3" cy="21" cx="12" />
					</g>
				</svg>
				</svg>
				<div class="hideMenu menu">
					<ul>
						<li>
							<p class="menuItem" id="goTo" href="#">Go To Ang No.</p>
						</li>
						<li>
							<p class="menuItem" id="settings" href="#">Settings</p>
						</li>
					</ul>
				</div>
			</div>
		</header>
		<div class="main">
			<div class="main_screen_list list-group-center">
				<ul>
					{{#each homePageList}}
					<li id={{hash}} class="list-item">
						<a href="#{{hash}}">{{label}}</a>
					</li>
					{{/each}}
				</ul>

			</div>

			<!-- Tatkra Sri Guru Granth Sahib Jee -->
			<div data-attr="tatkra" class="tatkra_list list-group-right">
				<ui>
					{{#each tatkraList}}
					<li href="#{{hash}}" class="list-item">
						<a href="#{{hash}}">
							<div>{{label}}</div>
							<div>{{angNo}}</div>
						</a>
					</li>
					{{/each}}
				</ui>
			</div>

			<div class="nitnem_list list-group-right">
				<ui>
					{{#each nitnemPageList}}
					<li id={{hash}} class="list-item">
						<a href="#{{hash}}">{{label}}</a>
					</li>
					{{/each}}
				</ui>
			</div>

			<!-- Nitnem Gurbani Content -->
			<div data-attr="nitnem_gurbani" class="nitnem_baani_page list-group-right">
				<div class="nitnem_baani_container" id="nitnem_baani_container">
				</div>
			</div>

			<!-- Gurbani Content -->
			<div class="guru_granth_sahib_baani list-group-right">
				<div class="containerX">
					<div class="main_screen_listX swipe-gesture list-group-center-on-next">
					</div>
					<div class="tatkra_listX swipe-gesture list-group-right-on-next">
					</div>
					<div class="nitnem_listX swipe-gesture list-group-left-on-next">
					</div>
				</div>

			</div>

		</div>
		<!-- <footer>
			<div class="angNoContainer">
				<p><span id="angNo"></span></p>
			</div> -->
		</footer>
		<div class="hideModal">
			<div class="goToAngModalChildWrapper">
				<div class="label_select_ang">Enter Ang No.</div>
				<div>
					<input type="number" id="goToAngText" step="1" min="1" max="1430" name="txtNumber" />
				</div>
				<div class="modal_footer">
					<button id="cancel">Cancel</button>
					<button id="goToButton">Go</button>
				</div>
			</div>
		</div>
		<div class="hideModalSettings">
			<div class="settingsModalChildWrapper">
				<div class="labelSettings">Theme</div>
				<div class="optionsItems">
					<ul>
						<li>
							<label>
								<input type="radio" name="optionThemeInput" value="default_dark" checked="checked">
								<span>Default Dark</span>
							</label>
						</li>
						<!-- <li>
							<label>
								<input type="radio" name="optionThemeInput" value="dark_sundar_gutka">
								<span>Dark Sundar Gutka</span>
							</label>
						</li> -->
						<li>
							<label>
								<input type="radio" name="optionThemeInput" value="dark_royal">
								<span>Dark Royal</span>
							</label>
						</li>
						<!-- <li>
							<label>
								<input type="radio" name="optionThemeInput" value="light_igranth">
								<span>Light iGranth</span>
							</label>
						</li> -->
						<!-- <li>
							<label>
								<input type="radio" name="optionThemeInput" value="light_sundar_gutka">
								<span>Light Sundar Gutka</span>
							</label>
						</li> -->
						<li>
							<label>
								<input type="radio" name="optionThemeInput" value="light_floral">
								<span>Light Floral</span>
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="optionThemeInput" value="cassandra">
								<span>Cassandra</span>
							</label>
						</li>
						<li>
							<label>
								<input type="radio" name="optionThemeInput" value="vintage">
								<span>Vintage</span>
							</label>
						</li>
					</ul>
				</div>
				<div class="labelSettings">Font Size</div>
				<div class="optionsItems">
					<ul>
						<li>
							<label>
								<input type="radio" name="optionFontSizeInput" value="huge">
								<span></span>Huge</label>
						</li>
						<li>
							<label>
								<input type="radio" name="optionFontSizeInput" value="large">
								<span></span>Large</label>
						</li>
						<li>
							<label>
								<input type="radio" name="optionFontSizeInput" value="medium" checked="checked">
								<span></span>Medium</label>
						</li>
						<li>
							<label>
								<input type="radio" name="optionFontSizeInput" value="small">
								<span></span>Small</label>
						</li>
						<li>
							<label>
								<input type="radio" name="optionFontSizeInput" value="tiny">
								<span></span>Tiny</label>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/hammer.min.js"></script>
	<script type="text/javascript" src="js/jquery.hammer.js"></script>
	<script type="text/javascript" src="cordova.js"></script>
	<script type="text/javascript" src="js/less.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript" src="js/output.js"></script>
	<script type="text/javascript" src="js/nitnem.js"></script>
</body>

</html>