
// Classes
.show {
  display: block !important;
}
.hidden {
  display: none !important;
  visibility: hidden !important;
}
.invisible {
  visibility: hidden;
}


@font-face {
  font-family: 'Dejaweb';
  src: url('NotoSansGurmukhi-Regular.ttf');
}

.baaniFormatting h1 {
	font-family: 'Dejaweb';
	font-size: 1.5em;
}
.baaniFormatting p {
	font-size: 25px;
	margin: 5px;
	color: #282460
}

.baaniFormatting span {
  line-height: 1.8;
  word-wrap: normal;
  display: inline-block;
}

.highlight {
	background: #F7941E;
	color: #FFFFFF;
}

span {
	border-radius: 10px;
}

.baaniFormatting h1 {
	color: #F7941E !important;
}

.baaniFormatting h4 {
	color: #F7941E !important;
}

.baaniFormatting pre {
	text-align: center;
	color: #EF2938;
}

.highlightH1 {
	background: #F7941E;
	color: #FFFFFF;
}

.highlightP {
	background: #282460;
	color: #FFFFFF;
}
