@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-style: normal;
    background-color: #33373B;
    color: white;
}

.container {
  margin:0px;
  height: 100%;
  display: flex;
  overflow: auto;
  flex-direction:column;
  background-color: #fff;
  background-color:#33373B;
}

header {
  height: 70px;
  z-index: 10;
  /*position: fixed;*/
  display: flex;
  background-color:#33373B;
  justify-content: center;
  width:100%;

  -webkit-box-shadow: 0 4px 5px #242527;
  -moz-box-shadow: 0 4px 5px #242527;
  box-shadow: 0 4px 5px #242527;
}

.main {
  top:70px;
  width:100%;
  position:fixed;
}

li {
  list-style: none;
}

li a {
  display: block;
  width:100%;
}

.title {
  font-size: 30px;
  align-self: center;
}

.list-group-center{
    transform:translateX(0%);
    transition: all ease 0.8s;
}

.list-group-left{
    transform:translateX(-100%);
    transition: all ease 0.8s;
}

.list-group-right{
    transform:translateX(100%);
    transition: all ease 0.8s;
}

.main_screen_list {
  width:100%;
  position:fixed;
  display:flex;
  flex-direction:column
}

.tatkra_list {
  width:100%;
  position:fixed;
  display:flex;
  flex-direction:column;
  height: 100%;
  overflow: scroll;
  padding-bottom: 100px;
}

.nitnem_list {
  width:100%;
  position:fixed;
  display:flex;
  flex-direction:column;
  height: 100%;
  overflow: scroll;
  padding-bottom: 100px;
}

.list-item {
  padding: 10px;
  border-bottom: 2px Solid
}

.tatkra_list li a {
  display: flex;
  justify-content: space-between;
  height: 100%;
  overflow: scroll;
}

.nitnem_baani_page {
  display: flex;
  position: fixed;
  width: 100%;
  flex-direction: column;
  height: 100%;
  overflow: scroll;
  padding-bottom: 100px;
}

.baaniFormatting {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 10px;
}

.text-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

p {
  font-size: 18px;
}
.highlightH1 {
  color: #FF8C00;
}

.highlightP {
  color: #FF8C00;
}












